<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        .b{color: aquamarine}
        body{background-image: url("/static/meme/1.jpg")}
        .c{color: aqua}
        .d{color: lightcoral}
    </style>
</head>
<body>
<h1 class="b">1712李晨的博客</h1><br>

<h4><a class="d" href="{% url 'blog:editpage' %}">编辑博客</a></h4>
<ul>
    {% for item in list %}
        <li class="c"><a class="c" href="{% url 'blog:detail' item.id %}">{{ item.atitle}}</a>
                <a href="{% url 'blog:delete' item.id %}" style="float: right;">删除</a>

        </li>
    {% endfor %}


</ul>
</body>
</html>